/* ===== HERO SECTION ===== */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
        url('../../assets/photos/best-places-to-visit-in-karnataka.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 0;
}

.hero-overlay {
    width: 100%;
    padding: 20px;
    z-index: 1;
}

.hero-content {
    max-width: 800px;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: white;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.hero-subtitle {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.9);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* Media Queries for Hero */
@media (max-width: 480px) {
    .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
        url('../../assets/photos/best-places-to-visit-in-karnataka.webp');
    background-size: cover;
    background-position:15%;
    }
    .hero-title {
        font-size: 2.5rem;
    }
    
    .hero-subtitle {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .hero-title {
        font-size: 3.5rem;
    }
    
    .hero-subtitle {
        font-size: 1.3rem;
    }
}

@media (min-width: 992px) {
    .hero-title {
        font-size: 4rem;
    }
}